<div class="bg-yellow-anna w-full fixed h-16">
  <nav class="flex mx-8 my-5 justify-between items-start">
  <div class="links-without-underline">
    <a href="/">Anna Wilde</a>
  </div>
  
  <div>
    <div class="flex justify-end cursor-pointer lg:hidden mb-2" id="burger">
      <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </div>  
    <div class="hidden lg:flex links-without-underline bg-yellow-anna p-4 lg:p-0" id="menu">
      <ul class="lg:flex lg:flex-row lg:space-x-10 list-none">
        <li><a href="/index.html#therapie">Therapie</a></li>
        <li><a href="/index.html#coaching">Coaching & Supervision</a></li>
        <li><a href="/de/blog.html">Blog</a></li>
        <li><a href="/de/ueber-mich.html">Über mich</a></li>
        <li><a href="/de/kontakt.html">Kontakt</a></li>
        <li><a href="/en/index.html">English</a></li>
      </ul>
      
    </div>  
  </div>
</nav>  
</div>
