<p>
    Supervision bietet Ihnen als Team die Möglichkeit, berufliche Erfahrungen und Herausforderungen 
    gemeinsam zu reflektieren. In einem geschützten Rahmen begleite ich Sie dabei, Strategien zur 
    Bewältigung von Konflikten zu entwickeln und die gemeinsame Teamarbeit zu reflektieren. Dabei 
    können bspw. auch stressbefördernde Kontextfaktoren in den Blick genommen werden.
</p><p>
    Dieses Angebot richtet sich insbesondere an Personen in sozialen, pädagogischen und therapeutischen 
    Berufen sowie an Teams in Organisationen.   
</p>
