<p>
Als systemische Therapeutin interessiere ich mich vor allem für Beziehungen: 
seien es Beziehungen in Familien, in Partnerschaften - oder auch in Teams und Organisationen.
Aber auch die Beziehung, die wir zu uns selbst haben, steht im Fokus meiner Arbeit. 
</p><p>
Kommen hemmende Glaubenssätze ins Spiel, kann es manchmal schwierig werden, die eigenen 
Bedürfnisse in Einklang mit unseren Entscheidungen und möglichen Erwartungshaltungen zu bringen. 
</p><p>
Das Selbstbild und die Beziehung, die wir zu uns selbst haben, prägt häufig, wie wir 
Entscheidungen treffen, Grenzen setzen und uns Bedürfnisse zugestehen. Konflikt- oder krisenhafte 
Zeiten bieten eine Chance sich dies vor Augen zu führen und damit letztendlich auch, sie neu zu justieren.    
</p>
