---
layout: de/default
description: Praxis für Systemische Therapie, Coaching & Supervision - Kontakt
---

<div class="flex justify-center bg-white">
    <div class="flex flex-col md:flex-row justify-evenly">
        <div class="px-4 py-16 md:w-1/2 xl:mx-10">
            <h2 class="text-blue-anna">Kontakt</h2>

            <div class="text-anna max-w-xl">

                {% include de/adresse.html %}

            </div>
        </div>
        <div class="md:shrink-0 md:w-1/2">
            <img src="/assets/img/praxisraum.webp" class="object-cover w-full md:h-full">

        </div>
    </div>
</div>
                
<div class="bg-yellow-anna w-full">
    <div class="flex justify-center">
        <div class="my-16 mx-4 single-col-anna">
            <h2 class="text-blue-anna">Ihr Weg zu mir</h2>
                                                    
            <div class="text-anna">

                {% include de/ihr-weg.html %}

            </div>
            
        </div>
    </div>
</div>


<a id="zl-url" class="zl-url" href="https://www.jameda.de/anna-wilde/heilpraktiker-fuer-psychotherapie/berlin" rel="nofollow" data-zlw-doctor="anna-wilde" data-zlw-type="button_calendar_floating_medium" data-zlw-opinion="false" data-zlw-hide-branding="true" data-zlw-saas-only="true">Anna Wilde - jameda.de</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
