<p>
    As a systemic therapist, my main focus is on relationships — whether within families, partnerships, or in
    teams and organizations. Just as important to my work is the relationship we each have with
    ourselves.
</p><p>
    When limiting beliefs come into play, it can sometimes be challenging to align our needs with our
    decisions and the expectations we perceive around us.
</p><p>
    Our self-image and the relationship we have with ourselves often shape how we make decisions, set
    boundaries, and allow ourselves to meet our own needs. Times of conflict or crisis present an
    opportunity to bring these dynamics into focus and, ultimately, to adjust them in new and helpful
    ways.
</p>
