<p>
    As a licensed non-medical practitioner for Psychotherapy, my services are usually privately funded.
    However, under certain circumstances, some private health insurance companies or supplementary
    insurance policies cover the costs of therapy. 

</p><p>
    Professional associations or accident insurance
    companies cover the costs of therapy to overcome the consequences of accidents at work or on the
    way to work.

</p><p>
    Due to my training as a licensed non-medical practitioner for Psychotherapy and as a systemic
    therapist (SG), individual health insurance companies also cover the costs of therapy through the
    reimbursement procedure. Please inquire with your insurance company in advance about the
    possibilities of reimbursement.
</p><p>
    For clarification of your concerns, I offer an initial telephone consultation.
</p><p>
    Here you can book your appointment online.
</p>
