<p>
    Systemic Supervision: starting in Nov. 2024 at <a href="https://if-weinheim.de/" target="_blank">IF Weinheim</a>
</p><p>
    Licensed Psychotherapist (HeilprG License)
</p><p>
    Systemic Individual, Couple & Family Therapy (SG) at <a href="https://if-weinheim.de/" target="_blank">IF Weinheim</a>
</p><p>
    Systemic Couple Therapy (IFW) 
</p><p>
    Systemic Counseling (SG) at <a href="https://www.ist-berlin.org/" target="_blank">IST Berlin</a>
</p><p>
    Dialogic Parent Counseling (ESF)   
</p>
