<div id="coaching" class="flex justify-center bg-yellow-anna">
    <div class="flex-col py-10 justify-between wide-col-anna">

        <header class="my-12">
            <h2 class="text-blue-anna">Coaching & Supervision</h2>
        </header>    
        
        <div class="flex flex-col sm:flex-row justify-items-stretch gap-8">
            <div class="my-4 sm:w-1/2">
                <h3 class="my-4 text-blue-anna">Coaching</h3>
                <span class="text-anna">
                    Mein Coaching-Angebot richtet sich an Fach- und Führungskräfte sowie Teams, die professionelle 
                    Unterstützung bei der Bewältigung von beruflichen Herausforderungen suchen. Ich begleite Sie 
                    darin, Ihre persönlichen und beruflichen Ziele zu identifizieren. 
                    <br><br>
                    Mit gezielten ressourcen- und lösungsorientierten Methoden unterstütze ich Sie dabei, Ihre individuellen 
                    Stärken und Ressourcen nutzbar zu machen sowie Lösungen für komplexe Problemlagen zu finden. 
                    Die Förderung von Selbstwirksamkeit dient mir hierbei als Leitlinie.       
                </span>
            </div>

            <div class="my-4 sm:w-1/2">
                <h3 class="my-4 text-blue-anna">Supervision</h3>
                <span class="text-anna">
                Supervision bietet Ihnen als Team die Möglichkeit, berufliche Erfahrungen und Herausforderungen 
                gemeinsam zu reflektieren. In einem geschützten Rahmen begleite ich Sie dabei, Strategien zur 
                Bewältigung von Konflikten zu entwickeln und die gemeinsame Teamarbeit zu reflektieren. Dabei 
                können bspw. auch stressbefördernde Kontextfaktoren in den Blick genommen werden.
                <br><br>
                Dieses Angebot richtet sich insbesondere an Personen in sozialen, pädagogischen und therapeutischen 
                Berufen sowie an Teams in Organisationen.   
                </span>
            </div>
        </div>

    </div>
</div>
  
