<div class="flex justify-center bg-yellow-anna">
    <div class="flex-col px-8 py-10 lg:max-w-6xl justify-between">

    <header class="my-8">
        <h2><a name="coaching"></a>Coaching & Supervision</h2>
    </header>    
    
    <div class="flex flex-col md:flex-row justify-items-stretch gap-8">
        <div class="my-4 sm:w-1/2">
            <h3 class="my-4">Coaching</h3>
            Mein Coaching-Angebot richtet sich an Fach- und Führungskräfte sowie Teams, die professionelle 
            Unterstützung bei der Bewältigung von beruflichen Herausforderungen suchen. Ich begleite Sie 
            darin, Ihre persönlichen und beruflichen Ziele zu identifizieren. 
            <br><br>
            Mit gezielten ressourcen- und lösungsorientierten Methoden unterstütze ich Sie dabei, Ihre individuellen 
            Stärken und Ressourcen nutzbar zu machen sowie Lösungen für komplexe Problemlagen zu finden. 
            Die Förderung von Selbstwirksamkeit dient mir hierbei als Leitlinie.   
        </div>

        <div class="my-4 sm:w-1/2">
            <h3 class="my-4">Supervision</h3>
            Supervision bietet Ihnen als Team die Möglichkeit, berufliche Erfahrungen und Herausforderungen 
            gemeinsam zu reflektieren. In einem geschützten Rahmen begleite ich Sie dabei, Strategien zur 
            Bewältigung von Konflikten zu entwickeln und die gemeinsame Teamarbeit zu reflektieren. Dabei 
            können bspw. auch stressbefördernde Kontextfaktoren in den Blick genommen werden.
            <br><br>
            Dieses Angebot richtet sich insbesondere an Personen in sozialen, pädagogischen und therapeutischen 
            Berufen sowie an Teams in Organisationen.   
        </div>
    </div>

    </div>
</div>
  
