<div class="flex justify-center bg-yellow-anna">
    <div class="flex-col m-16 lg:max-w-6xl justify-between">

    <header class="mb-4">
        <h2>Haltung</h2>
    </header>    
    
    <div class="md:w-[760px] text-blue-anna">
        <h3>
            In meiner Arbeit steht der Mensch mit seinen Bedürfnissen und Beziehungen im Mittelpunkt. 
            Ich glaube fest daran, dass jeder Mensch die Fähigkeit zur Veränderung und zur Selbstheilung 
            in sich trägt. Mit meinem systemischen Blick betrachte ich nicht nur das Individuum, sondern 
            auch dessen Beziehungen und das Umfeld, in dem es lebt. 
            <br><br>
            Mein Ziel ist es, Sie auf Ihrem Weg zu unterstützen, Klarheit zu gewinnen, Konflikte zu 
            bewältigen und neue Perspektiven zu entwickeln.     
        </h3>
    </div>

    </div>
</div>
  
