<div class="text-blue-anna">
    <h2>Ihr Weg zu mir</h2>
</div>
        
                    
<div class="text-anna">
    <p class="text-anna">
    Als Heilpraktikerin für Psychotherapie sind meine Leistungen in der Regel privat zu tragen. 
    Unter bestimmten Voraussetzungen übernehmen jedoch einige <span class="italic">private Krankenkassen</span> oder <span class="italic">Zusatzversicherungen</span> 
    die Kosten einer Therapie.
    </p><p class="text-anna">
    <span class="italic">Berufsgenossenschaften</span> oder <span class="italic">Unfallkassen</span> übernehmen zur Überwindung von 
    Unfallfolgen durch Arbeitsunfälle oder Wegeunfälle die Kosten einer Therapie.
    </p><p class="text-anna">
    Aufgrund meiner Ausbildung als Heilpraktikerin für Psychotherapie und als systemische Therapeutin (SG) 
    übernehmen auch einzelne Krankenkassen die Kosten für eine Therapie über das <span class="italic">Kostenerstattungsverfahren</span>. 
    Informieren Sie sich bitte vorab bei Ihrer Versicherung über die Möglichkeiten der Kostenerstattung.
    </p><p class="text-anna mt-10">
    Zur Anliegenklärung biete ich ein telefonisches Erstgespräch.
    </p><p class="text-anna mt-10">
    I also offer counseling and coaching in English.
    </p>
</div>
