<div class="bg-yellow-anna w-full fixed h-16">
  <nav class="flex mx-8 my-5 justify-between items-start">
  <div class="links-without-underline">
    <a href="/">Anna Wilde</a>
  </div>
  
  <div>
    <div class="flex justify-end cursor-pointer md:hidden mb-2" id="burger">
      <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </div>  
    <div class="hidden md:flex links-without-underline bg-yellow-anna p-4 md:p-0" id="menu">
      <ul class="md:flex md:flex-row md:space-x-10 list-none">
        <li><a href="/#therapie">Therapie</a></li>
        <li><a href="/#coaching">Coaching & Supervision</a></li>
        <li><a href="/ueber-mich.html">Über mich</a></li>
        <li><a href="/kontakt.html">Kontakt</a></li>
      </ul>
      
    </div>  
  </div>
</nav>  
</div>
