<div class="flex justify-center bg-white">
    <div class="flex flex-col md:flex-row justify-evenly">
        <div class="px-4 py-16 md:w-1/2">
            <div class="text-md-anna text-blue-anna lg:mx-8">
                <p>
                Willkommen!
                </p><p>
                Ich bin Heilpraktikerin für Psychotherapie, spezialisiert auf systemische Therapie, 
                Paartherapie, Familientherapie (SG) sowie Coaching und Supervision. 
                </p><p>
                Mit einer langjährigen psychosozialen Berufserfahrung und einer großen Faszination 
                für zwischenmenschliche Beziehungen begleite ich Einzelpersonen, Paare und Familien 
                sowie Teams durch herausfordernde Phasen.
                </p>
            </div>
        </div>
        <div class="md:shrink-0 md:w-1/2">
            <img src="/assets/img/portrait-blue.jpeg" class="object-cover w-full md:h-full">

        </div>            
    </div>
</div>
  
