<div class="flex justify-center">
    <div class="flex-col mx-8 my-10 lg:max-w-6xl justify-between">

    <header class="my-8">
        <h2 class="text-blue-anna"><a name="therapie"></a>Therapie</h2>
    </header>    
    
    <div class="grid grid-flow-row sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="my-4 w-full sm:w-1/2 md:w-1/3">
            <img src="/assets/img/systemische-therapie.webp" class="w-full">
            <h3 class="my-4 text-blue-anna">Systemische Therapie</h3>
            Ich biete systemische Therapie für Einzelpersonen an, die sich in einer 
            Krise befinden, unter persönlichen, zwischenmenschlichen Konflikten oder 
            psychischen Belastungen leiden - oder sich persönlich weiterentwickeln 
            möchten. Ich unterstütze Sie darin, neue Perspektiven zu entwickeln, 
            hemmende Glaubenssätze aufzuspüren und für Sie nutzbar zu machen oder 
            einen wohlwollenden, ressourcenstärkenden Blick auf sich selbst zu entwickeln.   
        </div>
  
        <div class="my-4 w-full sm:w-1/2 md:w-1/3">
            <img src="/assets/img/paar-therapie.webp">
            <h3 class="my-4 text-blue-anna">Paartherapie</h3>
            Ich biete systemische Paartherapie für Paare an, die gemeinsam an ihrer 
            Beziehung arbeiten oder partnerschaftliche Konflikte bewältigen möchten.
            In einer Paartherapie richtet sich der Fokus häufig vor allem auf 
            partnerschaftliche Kommunikations- und Konfliktmuster. Ich unterstütze 
            Sie darin, diese zu erkennen, Konflikte zu verstehen und zu lösen sowie 
            ein neues Verständnis füreinander zu entwickeln.
        </div>

        <div class="my-4 w-full sm:w-1/2 md:w-1/3">
            <img src="/assets/img/familientherapie.webp">
            <h3 class="my-4 text-blue-anna">Familientherapie</h3>
            Für Familien, die sich in herausfordernden Zeiten befinden, biete ich 
            Familientherapie und -beratung an. Auf Basis meiner langjährigen Erfahrung 
            in der ambulanten Familienhilfe und Familientherapie im Rahmen von Hilfen 
            zur Erziehung (SGB VIII) sowie im Elterncoaching nach Haim Omer unterstütze 
            ich Sie bei familiären Konflikten, Krisen oder Trennungsphasen.    
        </div>
    </div>

    </div>
</div>
