<div class="flex justify-center">
    <div class="flex-col my-16 mx-8 md:mx-16 lg:max-w-6xl gap-8">

        <div>
            <h2>Meine Vita</h2>
        </div>
        <hr>
        <div class="flex flex-col md:flex-row justify-evenly my-8">
            <div class="md:w-1/3">
                <h2>Ausbildung</h2>
            </div>  
            <div class="md:w-2/3 para-gap">
                Heilpraktikerin für Psychotherapie (Heilerlaubnis nach HeilprG)
                <br>
                Systemische Einzel-, Paar- & Familientherapie (SG) am <a href="https://if-weinheim.de/" target="_blank">IF Weinheim</a>
                <br>
                Systemische Paartherapie (IFW) 
                <br>
                Systemische Beratung (SG) am <a href="https://www.ist-berlin.org/" target="_blank">IST Berlin</a>
                <br>
                Dialogische Elternbegleiterin (ESF)    
            </div>
        </div>
        <hr>
        <div class="flex flex-col md:flex-row justify-evenly my-8">
            <div class="md:w-1/3">
                <h2>Weitere Tätigkeiten</h2>
            </div>
            <div class="md:w-2/3 para-gap">
                <a href="https://bif-systemisch.de/" target="_blank">BIF Berliner Institut für Familientherapie</a>: freiberufliche systemische Familientherapeutin -
                (SGB VIII), Juni 2023-heute.
                <br>
                <a href="https://krisenchat.de/" target="_blank">krisenchat gGmbH</a>: Senior im psychosozialen Team für Aus- & Weiterbildung, Oktober 2022-heute.
            </div>
        </div>
        <hr>
        <div class="flex flex-col md:flex-row justify-evenly my-8">
            <div class="md:w-1/3">
                <h2>Studium</h2>
            </div>
            <div class="md:w-2/3 para-gap">
                Masterstudium: Soziologie & Sozialpsychologie, mit Schwerpunkt auf Arbeits- und 
                Organisationssoziologie, <a href="https://www.fb03.uni-frankfurt.de/92867755/Willkommen_am_Institut_f%C3%BCr_Soziologie" target="_blank">Goethe-Universität Frankfurt am Main</a>.
                <br>
                Bachelorstudium: Soziologie, Gender Studies & Kulturanthropologie, <a href="https://www.soziologie.uni-mainz.de/" target="_blank">Universität Mainz</a>.
            </div>
        </div>
        
    </div>
</div>
