<!doctype html>
<html lang="en" class="font-sans w-full h-full">

<head>
  <meta charset="utf-8">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <title>
    Anna Wilde
  </title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="font-extralight w-full h-full">

  <div class="flex flex-col w-full min-h-full relative gap-0">
    {% include en/navigation.html %}

    <div class="grow mt-16">
    {{ content }}
    </div>

    {% include en/footer.html %}
  </div>

  <script src="/assets/js/menu.js"></script>
</body>

</html>
