@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-anna text-lg;
}

.bg-blue-anna {
    background-color: rgb(13, 55, 222);
}
.text-blue-anna {
    color: rgb(13, 55, 222);
}
.bg-yellow-anna {
    background-color: rgb(239, 239, 186);
}

a {
  text-decoration: underline;
}

div.links-without-underline a {
  text-decoration: none;
}

.text-anna {
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}

.text-md-anna {
    font-size: clamp(1.4rem, 2vw, 2rem);
    @apply font-anna font-light leading-tight;
}

.text-lg-anna {
    font-size: clamp(1.8rem, 3vw, 2.7rem);
    @apply font-anna font-light leading-tight;
}

.single-col-anna {
    @apply mx-4 md:w-[760px] lg:max-w-6xl;
}

.wide-col-anna {
    @apply mx-4 lg:max-w-6xl;
}

.blog-col-anna {
    @apply mx-4 md:w-[760px] lg:max-w-7xl;
}

h1 {
    font-size: clamp(1.8rem, 3vw, 2.7rem);
    @apply font-anna font-medium leading-tight;
    @apply mb-5;
}

h2 {
    @apply font-anna text-lg-anna mb-8;
}

h3 {
    @apply font-anna text-md-anna mb-8;
}

p {
    @apply mb-4;
}

div.datenschutz p.section-title {
    @apply mt-8 underline;
}
